numpy==1.26
pandas==1.5.1

FOR GRAPHICAL REPRESENTATION (graphs, maps) - matplotlib==3.6.2
                                            - seaborn==0.10.1

TO RE-SAMPLING (balance) DATASET - imblearn

TO SERIALIZING AND DESERIALIZING - pickle

FOR IMPLEMENTING ALGORITHMS - sklearn==1.5.0
                            - xgboost==2.1.0
